h1{
    color:darkblue;
    background-color:greenyellow;
}

p{
    color:darkred;
    background-color: rgb(255, 251, 203);
}

h2{
    color: darkblue;
    background-color:greenyellow;
}

h3{
    color: rgb(255, 0, 0);
    background-color:rgb(255, 248, 124);
}