.container {
  border: 5px solid #ffffff;
  height: 100%;
  display: flex;

  flex-direction: row; /* ! Default */
  /* * Value can be column*/

  justify-content: flex-start; /* ! Default */
  /* *Value can be flex-start flex-end center space-around space-between space-evenly */

  align-items: stretch; /* ! Default */
  /* *Value can be stretch(or normal) flex-start(or start) flex-end(or end) center baseline  */

  flex-wrap: wrap;
}

.home {
  flex: 1;
}

.search {
  flex: 2;
}

.logout {
  flex: 4;
}
