.container {
  border: 5px solid #ffffff;
  display: flex;

  flex-direction: row; /* ! Default */
  /* * Value can be column*/

  justify-content: flex-start; /* ! Default */
  /* *Value can be flex-start flex-end center space-around space-between space-evenly */
}

.logout{
  margin-left: auto;
}
