.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: white;
}

html, body {
  background-color: #000000;
  margin: 10px;
}
  
.container > div:nth-child(1) {
  background-color: #ff0000;	
}
  
.container > div:nth-child(2) {
  background-color: #00ff00;
}
  
.container > div:nth-child(3) {
  background-color: #0000ff;
}
  
/*
* Flexbox styles
*/
.container {
  border: 5px solid #ffffff;
  display: flex;
  flex-direction: row; 
  /* ! Can change this to row(default), column, row-reverse, or column-reverse */
  justify-content: flex-start; 
  /* ! Can change this to flex-start(default), flex-end, center, space-between, space-around, or space-evenly */
}

.logout {
  margin: auto 0 auto auto;
  /*
  We can also use:
  ! margin-left: auto;
  */
}