.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #000000;
}

html,
body {
  background-color: #999999;
  margin: 10px;
}

.container > div:nth-child(1) {
  background-color: #00ffff;
}

.container > div:nth-child(2) {
  background-color: #ff00ff;
}

.container > div:nth-child(3) {
  background-color: #ffff00;
}
