.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: white;
}

html, body {
  background-color: #000000;
  margin: 10px;
}
  
.container > div:nth-child(1) {
  background-color: #ff0000;	
}
  
.container > div:nth-child(2) {
  background-color: #00ff00;
}
  
.container > div:nth-child(3) {
  background-color: #0000ff;
}

.container > div{
  width: 300px;
}
  
/*
* Flexbox styles
*/
.container {
  border: 5px solid #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
}

.search{
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 200px;
}

.logout{
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 300px;
}