body {
    background-image: url('../img/nasa.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

#btn {
    background-color: #5db0ff;
    border: white solid 2px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}